.Friend {
    border: 1px solid gray;
    padding: 1rem;
}

.Friend h2 {
    text-align: center;
}

.Friend a {
    background-color: #3333f1;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

@media screen and (max-width: 768px) {
    .Friend {
        /* width: 100vw; */
        border: 1px solid gray;
        padding: 0 1rem 1.5rem 1rem;
    }
}