.FriendDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 5rem;
    height: 5rem;
    background-color: blueviolet;
    border-radius: 50%;
}